<launch>
    <!-- Override ip_address argument -->
    <arg name="ip_address_right" default="192.168.11.101" />
    <arg name="ip_address_left" default="192.168.11.102" />
    <arg name="ip_address_cart" default="192.168.11.100" />
    <!-- Override robot_name argument -->
    <arg name="robot_name" default="myrobot" />
    <!-- Send format -->
    <arg name="send_format" default="288" />
    <!-- Recieve format -->
    <arg name="recv_format" default="292" />
    <!-- b-CAP Slave motion control cycle [millisecond] -->
    <arg name="bcap_slave_control_cycle_msec" default="8" />

    <arg name="urdf_path" />
    <arg name="pose" />

    <param name="robot_description" command="xacro $(arg urdf_path)" />

    <!-- following params to be wanted to be placed under the each node -->
    <!-- Controller -->
    <group ns="/$(arg robot_name)/right_arm">
        <include file="$(find myrobot_moveit)/config/right_arm_config.launch.xml" >
            <arg name="ip_address" value="$(arg ip_address_right)" />
        </include>
        <node name="denso_robot_control" pkg="denso_robot_control" type="denso_robot_control" output="screen" />
    </group>
    <group ns="/$(arg robot_name)/left_arm">
        <include file="$(find myrobot_moveit)/config/left_arm_config.launch.xml" >
            <arg name="ip_address" value="$(arg ip_address_left)" />
        </include>
        <node name="denso_robot_control" pkg="denso_robot_control" type="denso_robot_control" output="screen" />
    </group>


  <include file="$(find ps4_robot_control)/launch/ros_controllers.launch">
    <arg name="pose" value="$(arg pose)" />
    <arg name="sim" value="false" />
  </include>

</launch>