[submodule "src/melodic/denso_robot_ros"]
	path = src/melodic/denso_robot_ros
	url = git@github.com:yamachaso/denso_robot_ros.git
	branch = melodic-devel-vs087
[submodule "src/melodic/realsense2_description"]
	path = src/melodic/realsense2_description
	url = git@github.com:issaiass/realsense2_description.git
[submodule "src/melodic/realsense_gazebo_plugin"]
	path = src/melodic/realsense_gazebo_plugin
	url = git@github.com:issaiass/realsense_gazebo_plugin.git
[submodule "src/noetic/detect"]
	path = src/noetic/detect
	url = git@github.com:yamachaso/detect.git
[submodule "src/melodic/cartesian_controllers"]
	path = src/melodic/cartesian_controllers
	url = git@github.com:fzi-forschungszentrum-informatik/cartesian_controllers.git
[submodule "src/noetic/ar_track_alvar"]
	path = src/noetic/ar_track_alvar
	url = git@github.com:ros-perception/ar_track_alvar.git
	branch = noetic-devel
